.tituloCadastro {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 20px;
}
body {
  background-image: url('../imagens/casa4.png');
  background-size: 100%;
  background-attachment: fixed;
  font-weight: bold;
}
#test {
  margin-top: 20px;
  margin-bottom: 40px;
  border: groove;
  border-color: #c71585;
}
a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
a:hover {
  text-decoration: underline;
}
.interior {
  border-color: #c71585;
}
.btn {
  background-color: #c71585;
  border-color: #ff1493;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
::-webkit-input-placeholder {
  color: #fff;
}

#msg-sucesso {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(50, 205, 50, 0.3);
  border: 1px solid rgb(34, 139, 34);
}

.msg-erro {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(250, 128, 114, 0.3);
  border: 1px solid rgb(165, 42, 42);
}
